@charset "utf-8";
/* CSS Document */
.hepsi{width:100%;height:1950px}
.enust{width:100%;height:40px;;background:#000;color:#FFF;padding:10px 0 0 250px;font:15px tahoma;}
.ust{width:100%;height:80px;}
.isim{width:150px;height:60px;padding:20px 0 0 20px;font:bold 15px tahoma;float:left}
<!-- .kutu{width:838px;height:80px;float:left} -->
.baslik{width:100%;height:120px;font:bold 35px tahoma;text-align:center;padding:30px 0 0 0}
.vucuttipi{width:100%;height:400px}
.tip{width:600px;height:375px;margin:10px auto}
.resim{width:400px;height:230px;margin:10px auto;background:url(images/thumb2-gemma-atkinson-british-model-fitness-bodybuilding-womens-sportswear.jpg) center -0}
.aciklama{width:100%;height:250px;font:20px tahoma;padding:50px 0 0 60px;line-height:27px}
.program{width:100%;height:900px}
.dugme{width:70px;height:23px;background:#F00;color:#FFF;border-radius:5px;border-style:none}
.ust ul{margin:0;padding:0;list-style:none}
.ust ul li{float:left}

.ust ul li#koc a{display:block;width:135px;height:55px;padding:25px 0 0 10px}
.ust ul li#hedef a{display:block;width:130px;height:55pxpx;padding:25px 0 0 10px}
.ust ul li#egzersiz a{display:block;width:135px;height:55px;padding:25px 0 0 10px}
.ust ul li#supplement a{display:block;width:165px;height:55px;padding:25px 0 0 10px}
.ust ul li#magaza a{display:block;width:115px;height:55px;padding:25px 0 0 10px}
.ust ul li#tüm a{display:block;width:170px;height:55px;padding:25px 0 0 10px}
.aciklama2{width:210px;height:33px;margin:5px auto;padding:7px 0 0 60px}
.yazi2{font:bold 20px tahoma}
.aciklama3{width:410px;height:68px;margin:3px 0 0 70px;padding:2px 0 0 50px;}

.yazi5{font:18px tahoma;color:#000}
.dugme2{width:410px;height:50px;margin:3px 0 0 -20px;background:#F00;color:#FFF;border-radius:10px;border:none}
.aciklama3 button:hover{text-decoration:underline}
.yazi6{font:bold 23px tahoma}

.program1{width:900px;height:50px;margin:15px auto 0 auto;background:#000;}
.program1yazi1{width:250px;height:25px;margin:14px 0 0 10px;float:left;font:bold 15px tahoma;color:#FFF}
.program1yazi2{width:130px;height:20px;margin:12px 0 0 420px;float:left;font 13px tahoma;color:#FFF;padding:10px 0 0 70px}
.program2{width:900px;height:50px;margin:0 auto 0 auto;background:#F00;}
.program2yazi1{width:210px;height:30px;margin:10px 0 0 0;float:left;font:bold 17px tahoma;color:#FFF;padding:10px 0 0 15px}
.program2yazi2{width:195px;height:30px;margin:10px 0 0 100px;float:left;font:bold 17px tahoma;color:#FFF;padding:10px 0 0 30px}
.program2yazi3{width:210px;height:30px;margin:10px 0 0 110px;float:left;font:bold 17px tahoma;color:#FFF;padding:10px 0 0 10px}
.program3{width:900px;height:50px;margin:0 auto 0 auto;background:#09F;border-bottom:2px #CCC solid}
.program3yazi1{width:170px;height:30px;margin:10px 0 0 10px;float:left;font:17px tahoma;color:#000;padding:10px 0 0 30px}
.program3yazi2{width:170px;height:30px;margin:10px 0 0 135px;float:left;font:17px tahoma;color:#000;padding:10px 0 0 30px}
.program3yazi3{width:170px;height:30px;margin:10px 0 0 140px;float:left;font:17px tahoma;color:#000;padding:10px 0 0 30px}
.program4{width:900px;height:50px;margin:0 auto 0 auto;border-bottom:2px #CCC solid}
.program4yazi1{width:190px;height:30px;margin:10px 0 0 10px;float:left;font:15px tahoma;color:#000;padding:10px 0 0 10px}
.program4yazi2{width:195px;height:30px;margin:10px 0 0 135px;float:left;font:15px tahoma;color:#000;padding:10px 0 0 5px}
.program4yazi3{width:180px;height:30px;margin:10px 0 0 135px;float:left;font:15px tahoma;color:#000;padding:10px 0 0 20px}
.program5{width:900px;height:50px;margin:0 auto 0 auto;background:#09F;border-bottom:2px #CCCCCC solid}
.program5yazi1{width:190px;height:30px;margin:10px 0 0 10px;float:left;font:15px tahoma;color:#000;padding:10px 0 0 10px}
.program5yazi2{width:190px;height:30px;margin:10px 0 0 135px;float:left;font:15px tahoma;color:#000;padding:10px 0 0 10px}
.program5yazi3{width:190px;height:30px;margin:10px 0 0 135px;float:left;font:15px tahoma;color:#000;padding:10px 0 0 10px;}
.program6{width:900px;height:50px;margin:0 auto 0 auto;border-bottom:2px #CCCCCC solid}
.program6yazi1{width:200px;height:40px;margin:10px 0 0 10px;float:left}
.program6yazi2{width:190px;height:28px;margin:10px 0 0 135px;float:left;font:15px tahoma;color:#000;padding:12px 0 0 10px}
.program6yazi3{width:200px;height:40px;margin:10px 0 0 135px;float:left; }